* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  font-family: 'Montserrat', sans-serif;
}

body {
  width: 100vw;
}

html {
  font-size: 62.5%; 
  scroll-behavior: smooth;
  scroll-padding-top: 8rem;
}


